<div class="posts">
    <div class="form-group">
        <label >Elige la categoría a mostrar</label>
        <select class="form-control" (change)="getCategory($event)">
          <option></option>
          <option value="Informática">Informática</option>
          <option value="Diseño">Diseño</option>
          <option value="Programación">Programación</option>
        </select>
      </div>
    <div class="post" *ngFor="let post of arrPosts">
        <!-- [ngIf]="post.categoria === category" -->
        <h5>{{post.titulo}}</h5>
        <p class="autor">{{post.autor}}</p>
        <p class="texto">{{post.texto}}</p>
        <hr>
    </div>
</div>