    <form class="formulario" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="exampleInputEmail1">Título</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Indica el título" formControlName="titulo">
        </div>
        <div class="form-group">
            <label for="Input2">Texto</label>
            <textarea rows="3" class="form-control" id="Input2" formControlName="texto"></textarea>
        </div>
        <div class="form-group">
            <label for="Input3">Autor</label>
            <input type="email" class="form-control" id="Input3" formControlName="autor">
        </div>
        <div class="form-group">
            <label for="Input4">Imagen</label>
            <input type="email" class="form-control" id="Input4" formControlName="imagen">
        </div>
        <div class="form-group">
            <label for="Input5">Fecha</label>
            <input type="email" class="form-control" id="Input5" formControlName="fecha" placeholder="DD/MM/YYYY">
        </div>
        <div class="form-group">
            <label for="Input6">Elige la categoría</label>
            <select class="form-control" id="Input6" formControlName="categoria">
              <option>Informática</option>
              <option>Diseño</option>
              <option>Programación</option>
            </select>
          </div>
        <input class="publicar" type="submit" value="Publicar">
    </form>

